Repository andrewdimmer/newhackwhothis2020, pull requests merged in 2020-07, with the labels that each got.

#1 chore(functions): Initialize Firebase Functions
  .firebaserc
  .gitignore
  firebase.json
  functions/.gitignore
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  functions/tsconfig.json
  functions/tslint.json
Labels: chore, functions

#2 feat(functions): Added Main Database Handlers
  functions/package-lock.json
  functions/package.json
  functions/src/@types/index.d.ts
  functions/src/config/firebaseConfig.ts
  functions/src/config/firestoreConfig.ts
  functions/src/database/approveRejectMatch.ts
  functions/src/database/collectionHelpers.ts
  functions/src/database/createNewStudent.ts
  functions/src/database/getMatches.ts
  functions/src/database/getToApprove.ts
  functions/src/helpers/errorHelpers.ts
  functions/src/helpers/matchingAlgorithm.ts
Labels: chore, enhancement, functions

#3 feat(functions): Exposed Endpoints for all of the Database Handlers
  functions/src/endpoints/approveRejectMatchEndpoints.ts
  functions/src/endpoints/createUserEndpoint.ts
  functions/src/endpoints/getDataEndpoints.ts
  functions/src/index.ts
  functions/src/test/newStudent.json
Labels: enhancement, functions

#4 fix(functions): Fix Bug Where You Can Approve or Reject Yourself
  functions/src/database/createNewStudent.ts
Labels: bug, functions

#6 feat(functions): Implemented a Basic Scoring Algorithm
  functions/src/@types/index.d.ts
  functions/src/helpers/matchingAlgorithm.ts
Labels: bug, enhancement, functions

#7 feat(flutter): Added Basic Email and Password Validation
  flutter/lib/Classes/BioObject.dart
  flutter/lib/Classes/ClassObject.dart
  flutter/lib/Classes/QAObject.dart
  flutter/lib/Pages/Email.dart
  flutter/lib/Pages/Password.dart
  flutter/lib/Routes/Questions.dart
  flutter/pubspec.lock
Labels: bug, enhancement, flutter

#8 refactor(flutter): Streamlined Questions Route and Bio Page State
  flutter/lib/Classes/BioObject.dart
  flutter/lib/Classes/DormObject.dart
  flutter/lib/Pages/Bio.dart
  flutter/lib/Pages/Password.dart
  flutter/lib/Routes/Questions.dart
  flutter/lib/Widgets/ClassLevelSelector.dart
  flutter/lib/Widgets/DormSelector.dart
Labels: bug, enhancement, flutter, refactor

#9 feat(flutter): created swipeable home page front end
  flutter/lib/Pages/Profile.dart
  flutter/lib/Routes/Home.dart
  flutter/lib/Routes/Questions.dart
  flutter/lib/Widgets/Answer.dart
  flutter/lib/Widgets/DormSelector.dart
  flutter/lib/main.dart
  flutter/test/widget_test.dart
Labels: enhancement, flutter

#10 BREAKING CHANGE(flutter): Rename Flutter Package
  flutter/README.md
  flutter/android/app/build.gradle
  flutter/android/app/src/debug/AndroidManifest.xml
  flutter/android/app/src/main/AndroidManifest.xml
  flutter/android/app/src/main/kotlin/com/example/classmate_connect/MainActivity.kt
  flutter/android/app/src/profile/AndroidManifest.xml
  flutter/ios/Runner.xcodeproj/project.pbxproj
  flutter/ios/Runner/Info.plist
  flutter/lib/Classes/BioObject.dart
  flutter/lib/Classes/ClassObject.dart
  flutter/lib/Pages/Bio.dart
  flutter/lib/Pages/Email.dart
  flutter/lib/Pages/Password.dart
  flutter/lib/Pages/Profile.dart
  flutter/lib/Pages/QuestionList.dart
  flutter/lib/Routes/Home.dart
  flutter/lib/Routes/Questions.dart
  flutter/lib/Widgets/ClassLevelSelector.dart
  flutter/lib/Widgets/DormSelector.dart
  flutter/lib/Widgets/Question.dart
  flutter/lib/main.dart
  flutter/pubspec.yaml
  flutter/web/index.html
  flutter/web/manifest.json
Labels: breaking-change, chore, flutter

#11 feat(flutter): added users page
  flutter/lib/Pages/Bio.dart
  flutter/lib/Routes/Users.dart
  flutter/lib/Widgets/Contact.dart
  flutter/lib/main.dart
  flutter/pubspec.lock
Labels: enhancement, flutter

#12 feat(data): compiled questions
  flutter/lib/Data/Data.dart
Labels: documentation, enhancement

#13 feat(flutter): Added Advanced Dorm and Class Schedule UI Features
  flutter/lib/Pages/Bio.dart
  flutter/lib/Widgets/DormSelector.dart
  flutter/lib/Widgets/EnterClassesWidget.dart
Labels: enhancement, flutter

#14 fix(flutter): Finished Question and Class Schedule Finalization
  flutter/lib/Data/Data.dart
  flutter/lib/Pages/Bio.dart
  flutter/lib/Routes/Home.dart
  flutter/lib/Routes/Questions.dart
  flutter/lib/Routes/Users.dart
  flutter/lib/Widgets/EnterClassesWidget.dart
  flutter/lib/Widgets/Question.dart
  flutter/pubspec.lock
Labels: bug, chore, flutter

#15 feat(flutter): Added Database Handlers in Flutter
  flutter/lib/Classes/BioObject.dart
  flutter/lib/Classes/QAObject.dart
  flutter/lib/Data/Data.dart
  flutter/lib/Database/ApproveRejectMatchHandlers.dart
  flutter/lib/Database/createNewStudentHander.dart
  flutter/lib/Database/getDataHandlers.dart
  flutter/lib/Database/helpers.dart
  flutter/pubspec.lock
  flutter/pubspec.yaml
Labels: bug, enhancement, flutter

#16 feat(flutter): Connect Handlers and Finalize UI and Data Sources
  flutter/lib/Pages/Profile.dart
  flutter/lib/Pages/QuestionList.dart
  flutter/lib/Routes/Home.dart
  flutter/lib/Routes/Questions.dart
  flutter/lib/Routes/Users.dart
  flutter/lib/Widgets/Answer.dart
  flutter/lib/Widgets/BottomNavBarCustom.dart
  flutter/lib/Widgets/Contact.dart
  flutter/lib/Widgets/FabCustom.dart
  flutter/lib/Widgets/LoadingWidget.dart
Labels: bug, enhancement, flutter
